/* ddPCR R package - Dean Attali 2015 */

body {
  background-color: #f8f8f8;
}

#loading-content {
  position: fixed;
  background: #000000;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 50px;
  bottom: 0;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
}

#plateDirty {
  margin-top: 12px;
}

body > .container {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: -1px;
  margin-bottom: 30px;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
}

.popover {
  max-width: 600px;
}

.popover-title {
  font-weight: bold;
}

.popover-link {
  color: #444;
  font-size: 16px;
}

.popover-link > i.fa {
  vertical-align: top;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border-top: 2px solid orange;
  border-bottom: 0;
  font-weight: bold;
}

.nav-tabs>li {
  margin-left: 7px;
}

.nav-tabs>li>a {
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #dddddd;
}

/* Navbar */

.navbar-brand {
  padding: 17px 17px;
  height: 56px;
  margin-top: 2px;
}

.navbar-inverse {
  background: #201a16;
  margin-bottom: 0;
  /* box-shadow: 0 0 10px #222; */
}
.navbar-inverse .navbar-nav>li>a {
  color: #9c9999;
  font-family: "Open Sans", "Arial";
}
.navbar .fa-fw {
  margin-right: -1px;
}
.navbar {
  font-size: 16px;
}
.navbar-nav>li>a {
  padding-top: 17px;
  padding-bottom: 17px;
}

.navbar-inverse .navbar-nav>li>a {
  border-top: 2px solid transparent;
  margin-bottom: -1px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  border-top-color: #201a16; /* #0647d2; */
  background: #fff;
  color: #201a16;
  cursor: default;
  transition: background 0.3s;
}

/* Animated underline for the main nav */

.navbar .navbar-nav>li>a:after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 1px;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
.navbar .navbar-nav>li>a:hover:after {
	width: 100%;
	background: #fff;
}
.navbar .navbar-nav>.active>a:hover:after {
	width: 0px;
	background: transparent;
}

#headerDatasetDesc {
  margin-bottom: 20px;
  color: #444444;
  text-align: center;
}

#datasetDescSelect,
#datasetDescName {
  font-size: 3em;
  font-weight: bold;
  word-break: break-all;
}

#datasetDescSummary {
  font-size: 1.3em;
  margin-bottom: 5px;
  vertical-align: middle;
}

#saveBtn {
  vertical-align: middle;
  margin-left: 10px;
}

.btn-loading-container {
  margin-left: 10px;
  font-size: 1.2em;
}

.btn-done-indicator {
  color: green;
}

#errorDiv {
  margin-top: 10px;
  color: red;
  font-size: 1.2em;
}

label {
  font-size: 1.2em;
}

button.btn-primary:not(.lg-btn) {
  font-size: 1.2em;
}

button.btn-primary.lg-btn {
  padding: 10px 20px;
}

.next-msg {
  margin-top: 20px;
  color: #777;
  font-size: 1.4em;
  font-weight: bold;
}

#sampleDataFile, #sampleResultsFile {
  font-size: 0.8em;
  font-weight: normal;
}

#basicSettingsTabContent .shiny-input-container {
  width: 400px;
}

#showPlateTypeExample {
  position: relative;
  top: -15px;
}

#settingsSubset {
  width: 650px;
}

#subsetPlotDesc {
  font-size: 1.2em;
}

#subsetNotReversibleNote {
  font-size: 1.2em;
}

#subsetNotReversibleNote .popover-link {
  font-size: 14px;
}

#resetParamsBtn {
  margin-left: 15px;
}

#advancedSettings .shiny-input-container {
  margin-left: 20px;
}

#analyzeTabContent {
  font-size: 1.5em;
  color: #444;
}

#analyzeBtn {
  font-size: 1em;
}

#analyzeProgress {
  margin-top: 15px;
  color: #444444;
  padding: 0;
  font-size: inherit;
  background: none;
  font-family: inherit;
  font-weight: bold;
  border: none;
}

#dropletsTable {
  float: left;
}

#clustersMappingOuter {
  text-align: center;
  float: left;
  margin-left: 50px;
  margin-top: 25px;
}

#clustersMappingInner {
  display: inline-block;
  border: 1px solid #dddddd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px 25px;
  background-color: #fafafa;
  font-size: 1.3em;
  text-align: left;
}

#clustersTitle {
  font-size: 1.5em;
  font-weight: bold;
}

#clustersMapping {
  text-transform: lowercase;
}

#dropletsTable .dataTable,
#metaAggregate .dataTable,
#metaTable .dataTables_scroll {
  border: 1px solid #111;
}

#metaTable .dataTables_scrollBody {
  border-bottom: 0;
}

#metaTable .dt-buttons {
  float: right;
}

.dt-button-collection {
  width: auto;
}

#aggregateDesc {
  font-weight: bold;
  margin-bottom: -30px;
}

#aggregateDesc .popover-link {
  position: relative;
  z-index: 1;
}

#metaAggregate {
  margin-top: 35px;
}

#downloadPlot {
  margin-left: 10px;
}

#plotOptionsSection {
  margin-top: 20px;
  margin-bottom: 20px;
}

#plotParamsTabs.nav-pills>li>a {
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  font-size: 1.2em;
}

#plotParamsTabs.nav-pills>li.active>a {
  color: #222;
  font-weight: bold;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-top: 2px solid orange;
}

#plotParamsTabs.nav>li>a {
  padding: 5px 15px;
  border-top: 2px solid transparent;
}

#plotOptionsSection .tab-content {
  padding: 0 20px;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  margin-top: -1px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#mainPlotContainer {
  position: relative;
}

#plotSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -33px;
  z-index: 1;
}

#mainPlot {
  text-align: center;
  position: relative;
  z-index: 2;
}
#mainPlot.recalculating {
  z-index: 0;
}

.plotParamDropName {
  text-align: right;
  padding-top: 5px;
}

#plotParamsDropRow-failed .plotParamDropName {
  margin-top: -10px;
}