body {
  background: #f8f8f8;
}

.navbar {
  margin-bottom: 0;
}

.navbar-header,
.navbar-mav,
.nav-tabs {
  font-size: 1.2em;
}

body > .container {
  background: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: -1px;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
}

.popover {
  max-width: 500px;
}

.popover-title {
  font-weight: bold;
}

.popover-link > i.fa {
  vertical-align: top;
}

h3 .popover-link {
  font-size: 18px;
}

#header-select {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.btn-msg {
  margin-left: 15px;
  font-size: 1.2em;
}

.btn-msg-done {
  color: green;
}

#errorDiv {
  margin-top: 10px;
  color: red;
  font-size: 1.2em;
}