body {
  background: #f8f8f8;
}

.navbar {
  margin-bottom: 0;
}

.navbar-header,
.navbar-mav,
.nav-tabs {
  font-size: 1.2em;
}

body > .container {
  background: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: -1px;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
}

.popover {
  max-width: 500px;
}

.popover-title {
  font-weight: bold;
}

.popover-link > i.fa {
  vertical-align: top;
}

h3 .popover-link {
  font-size: 18px;
}

#headerDatasetDesc {
  margin-bottom: 20px;
  color: #444444;
  text-align: center;
}

#datasetDescSelect,
#datasetDescName {
  font-size: 3em;
  font-weight: bold;
}

#datasetDescSummary {
  font-size: 1.3em;
  margin-bottom: 5px;
}

hr.small {
  max-width: 400px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.btn-msg {
  margin-left: 15px;
  font-size: 1.2em;
}

.btn-msg-done {
  color: green;
}

#errorDiv {
  margin-top: 10px;
  color: red;
  font-size: 1.2em;
}

#settingsSubset {
  width: 650px;
}

#updateSubsetSettings {
  margin-bottom: 10px;
}

#resetParamsBtn {
  margin-left: 15px;
}

#analyzeProgress {
  margin-top: 15px;
  padding: 0;
  font-size: inherit;
  background: none;
  font-family: inherit;
  font-weight: bold;
  border: none;
}